{{if .Users}}
<div class="data-table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Bucket ID</th>
                <th>Bucket Name</th>
                <th>Partition</th>
                <th>Files</th>
                <th>Size (KB)</th>
            </tr>
        </thead>
        <tbody>
            {{range .Users}}
            {{range .Partitions}}
            <tr>
                <td>{{.UserID}}</td>
                <td>{{.Username}}</td>
                <td><a href="/files?bucket={{.BID}}&user={{.UserID}}&part={{.Part}}">{{.BID}}</a></td>
                <td>{{.BName}}</td>
                <td>{{.Part}}</td>
                <td>{{.Count}}</td>
                <td>{{.Size}}</td>
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>
</div>
{{else}}
    <p class="no-data-message">No bucket data available for the given filters.</p>
{{end}}

{{if .ElapsedTime}}
<div class="elapsed-time-display">Load Time: {{.ElapsedTime}}</div>
{{end}}